<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Burgers List</h2>
			<ul>
				{{#each burgers}}
				{{#unless devoured}}
				<li>
					<p> {{this.burger_name}}</p>
					<form action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden" name="id" value="{{this.id}}">
						<button type="submit">DEVOUR</button>
					</form>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-md-4">
			
			<h2>Add Burgers to devour</h2>
			<form method="POST" action="/create">
				<textarea type="text" name="burger"></textarea>
				<button type="submit">Save Burger</button>
			</form>
		</div>
		<div class="col-md-4">
			<ul>
				{{#each burgers}}
				{{#if devoured}}
				<li>
					<p>{{this.burger_name}}</p>
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>